.br{
  border: 1px solid red
}
.capitalize{
  text-transform: capitalize;
}
.upper {
  text-transform: uppercase;
}
.flex {
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.font-primary{
  color: #888D96
}
.font-small {
  font-size: small;
}
.font-medium{
  font-size: medium;
}
.flex-g-1 {
  flex-grow: 1;
}
.page_title{
  font-size: 23px;
  color: #888D96;
  margin: 15px 0 15px 0;
}
.page_title_cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.link{
  text-decoration: none;
}
.td-none{
  text-decoration: none;
}
.flex-row{
  flex-direction: row;
}
.font-bold {
  font-weight: 800;;
}
.j-space-between {
  justify-content: space-between;
  align-items: center;
}
.m-top20 {
  margin-top: 20px;
}
.w-100 {
  width: 100%;
}
.page_chart_data {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 40px 0 40px 0;
}
.page_chart_graph {
  margin-right: 2%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #EBECED;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}