.br{
  border: 1px solid red
}
.capitalize{
  text-transform: capitalize;
}
.upper {
  text-transform: uppercase;
}
.flex {
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.font-primary{
  color: #888D96
}
.font-small {
  font-size: small;
}
.font-medium{
  font-size: medium;
}
.flex-g-1 {
  flex-grow: 1;
}
.page_title{
  font-size: 23px;
  color: #888D96;
  margin: 15px 0 15px 0;
}
.link{
  text-decoration: none;
}
.td-none{
  text-decoration: none;
}
.flex-row{
  flex-direction: row;
}
.font-bold {
  font-weight: 800;;
}
.j-space-between {
  justify-content: space-between;
  align-items: center;
}