.transactions_main_container{
  padding: 10px;
  padding-right: 30px;
}

.all-trans-grid {
  display: grid;
  grid-template-columns: 25% 20% 20% 28% 7%;
  grid-template-rows: auto;
}
.all-trans-header {
  background-color: #fff;
  padding: 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.all-trans-body {
  background: #F1F2F3 0% 0% no-repeat padding-box;
  padding: 7px 10px 7px 10px;
}
.all-trans-body:nth-child(even) {
  background-color: #fff;
}
.all-tran-main-body {
  width: 100%;
  height: 400px;
  overflow: scroll;
}
.details_main_image_container{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.trans_user_names {
  margin-left: 4%;
}
.user_trans_container {
  border-radius: 100px;
  opacity: 1;
  text-align: center;
  width: 78px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user_trans_container p {
  font-size: 12px;
  margin: auto;
  text-transform: capitalize;
  letter-spacing: 0px;
}
.user_trans_amount{
  color: #5AA9FA;
  font-weight: 800;
}
.user_trans_date{
  font-size: 10px;
  color: #888D96 !important;
  text-transform: uppercase;
  font-weight: 800;
}
.pr_eye {
  width: 100%;
  color: #D4145A;
}